
// Width utility classes
@for $i from 1 through 20 {
  .u-w-#{$i * 8} {
    width: #{$i * 8}px;
  }
}

// Min-width utility classes
@for $i from 1 through 20 {
  .u-min-w-#{$i * 8} {
    min-width: #{$i * 8}px;
  }
}

// Max-width utility classes
@for $i from 1 through 20 {
  .u-max-w-#{$i * 8} {
    max-width: #{$i * 8}px;
  }
}
