@use '../global' as *;

.btn-group {
  display: flex;
  flex-wrap: wrap;
}

/* Button
-------------------------*/
.btn {
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  padding: 4px 16px;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
  }

  &.block-btn {
    display: block;
    text-align: center;
    width: 100%;
  }

  &.btn-primary {
    background-color: var(--primary);
    color: var(--white);
  }

  &.btn-success {
    background-color: var(--success);
    color: var(--white);
  }

  &.btn-create {
    background-color: var(--create-color);
    color: var(--white);
  }

  &.btn-store {
    background-color: var(--store-color);
    color: var(--white);
  }

  &.btn-edit {
    background-color: var(--edit-color);
    color: var(--white);
  }

  &.btn-update {
    background-color: var(--update-color);
    color: var(--white);
  }

  &.btn-delete {
    background-color: var(--delete-color);
    color: var(--white);
  }

  &.btn-search {
    background-color: var(--search-color);
    color: var(--white);
  }

  &.btn-submit {
    background-color: var(--submit-color);
    color: var(--white);
  }

  &.btn-info {
    background-color: var(--info-color);
    color: var(--white);
  }

  &.btn-index {
    background-color: var(--index-color);
    color: var(--white);
  }

  &.btn-back {
    background-color: var(--back-color);
    color: var(--black);
  }

  &.btn-cancel {
    background-color: var(--cancel-color);
    color: var(--black);
  }

  &.btn-login {
    background-color: var(--login-color);
    color: var(--white);
  }

}
