@use '../global' as *;

.content-top-bar {
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 16px;

  &>:nth-child(2) {
    margin: auto 0;
    padding: 4px 0;
  }

  &>:last-child {
    margin: auto 0;
    padding: 4px 0;
  }

  @include pc-screen() {
    display: flex;
    justify-content: space-between;

    &>:first-child {
      margin-right: 32px;
    }
    &>:nth-child(2) {
      margin-right: auto;
    }
  }

}
