@use '../global' as *;

:root {
  --input-bg-color: var(--white);
  --input-border-color: #ddd;
  --input-txt-color: #333;
  --input-focus-border-color: #86b4ff;
  --error-txt-color: #d8000c;
}

.form-group {
  margin-bottom: 16px;
}

.form-label {
  align-items: center;
  color: var(--dark);
  display: flex;

  .label-txt {
    font-weight: bold;
    margin-right: 4px;
  }

  .required-dot {
    color: var(--red);
    font-weight: bold;
  }

  .required-label {
    background-color: var(--white);
    border: 1px solid var(--red);
    border-radius: 16px;
    color: var(--red);
    font-size: 0.6rem;
    font-weight: bold;
    padding: 0 4px;
  }
}

.input-field {
  background-color: var(--input-bg-color);
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--input-txt-color);
  display: block;
  font-size: 1rem;
  font-family: inherit;
  letter-spacing: 1px;
  padding: 8px;
  width: 100%;

  &:focus {
    border-color: var(--input-focus-border-color);
    box-shadow: 0 0 0 2px rgba(134, 180, 255, 0.5);
    outline: none;
  }

  &.invalid-input {
    border: 1px solid var(--error-txt-color);

    &:focus {
      box-shadow: 0 0 0 2px rgba(220,53,69,.25);
    }
  }
}

.input-field[type="checkbox"],
.input-field[type="radio"] {
  display: inline-block;
  width: auto;
}

.invalid-feedback {
  align-items: center;
  color: var(--error-txt-color);
  display: flex;

  .material-symbols-outlined {
    margin-right: 4px;
  }
}
