@use '../global' as *;

:root {
  --input-bg-color: var(--white);
  --input-border-color: #ddd;
  --input-txt-color: #333;
  --input-focus-border-color: #86b4ff;
  --error-msg-color: #d8000c;
}

.form-group {
  margin-bottom: 16px;

  .form-btn {
    background-color: var(--black);
    border: none;
    border-radius: 4px;
    color: var(--white);
    cursor: pointer;
    padding: 8px;
    width: 100%;

    &:hover {
      opacity: 0.9;
    }
  }
}

.form-label {
  align-items: center;
  color: var(--dark);
  display: flex;
  font-size: 0.9rem;
  font-weight: bold;
}

.required-dot {
  color: var(--red);
  font-weight: bold;
  margin-left: 4px;
}

.required-label {
  background-color: var(--red);
  border-radius: 16px;
  color: var(--white);
  font-size: 0.6rem;
  font-weight: bold;
  margin-left: 4px;
  padding: 0 4px;
}

.input-field {
  background-color: var(--input-bg-color);
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--input-txt-color);
  display: block;
  font-size: 1rem;
  font-family: inherit;
  letter-spacing: 1px;
  padding: 8px;
  width: 100%;

  &:focus {
    border-color: var(--input-focus-border-color);
    box-shadow: 0 0 0 3px rgba(134, 180, 255, 0.5);
    outline: none;
  }
}

.input-field[type="checkbox"],
.input-field[type="radio"] {
  display: inline-block;
  width: auto;
}

.validation-msg {
  color: var(--error-msg-color);
  font-size: 0.9rem;
  margin-top: 4px;
}
