@use '../global' as *;

.title {
  color: var(--black);
  font-weight: bold;

  &.page-title {
    border-bottom: 1px solid #ddd;
    font-size: 1.6rem;
    margin-bottom: 16px;
  }

  &.title-h1 {
    font-size: 1.6rem;
  }

  &.title-h2 {
    font-size: 1.4rem;
  }

  &.title-h3 {
    font-size: 1.2rem;
  }

  &.title-h4 {
    font-size: 1rem;
  }

  &.title-h5 {
    font-size: 1rem;
  }

  &.title-h6 {
    font-size: 1rem;
  }
}
