@use '../global' as *;

.icon-block {
  display: inline-block;
  margin-right: 8px;

  .icon-link {
      align-items: center;
      color: inherit;
      display: flex;

      &:hover {
        opacity: 0.8;
      }

      .icon {
          display: flex;
          align-items: center;
          margin-right: 8px;
      }

      .icon-label {
          margin-right: 8px;
      }

      .material-symbols-outlined {
          // 必要に応じてアイコンのスタイルを調整
      }
  }
}
