@use '../global' as *;

.search-block {
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 16px;

  .search-header {
    background-color: #ccc;
    border-radius: 4px 4px 0 0;
    display: flex;
    color: inherit;
    justify-content: space-between;
    padding: 8px 16px;

    &:hover {
      border-radius: 4px 4px 0 0;
      cursor: pointer;
      opacity: 0.8;
    }

  }

  .search-body {
    padding: 4px 8px;
    border-radius: 0 0 4px 4px;

    @include pc-screen() {
      display: flex;
    }

    .search-col {
      width: 100%;

      .search-row {
        padding: 4px 8px;
      }
    }
  }

  .search-footer {
    border-radius: 0 0 4px 4px;
    padding: 8px 16px 16px;

    @include pc-screen() {
      text-align: right;
    }
  }
}
