@use '../global' as *;

.table {
  --table-header-bg-color: #ddd;
  --table-header-border-color: #ddd;
  --table-row-border-color: #ddd;

  background-color: var(--white);
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  table-layout: fixed;
}

.table-header {
  background-color: var(--table-header-bg-color);

  .th-cell {
    border-bottom: 2px solid var(--table-header-border-color);
    font-weight: bold;
    padding: 8px 16px;
  }
}

.table-body {

  .table-row {
    &:not(:last-child) {
      border-bottom: 1px solid var(--table-row-border-color);
    }

    .td-cell {
      padding: 16px;
    }
  }
}

/* Round the corners of the table
-------------------------*/
.table {
  border-radius: 4px;
  &-header {
    .table-row {
      .th-cell {
        &:first-child {
          border-top-left-radius: 4px;
        }

        &:last-child {
          border-top-right-radius: 4px;
        }
      }
    }
  }

  &-body {
    .table-row {
      &:last-child {
        .td-cell {
          &:first-child {
            border-bottom-left-radius: 4px;
          }

          &:last-child {
            border-bottom-right-radius: 4px;
          }
        }
      }
    }
  }
}
