@use '../global' as *;

.invalid-feedback {
  align-items: center;
  color: var(--error-txt-color);
  display: flex;
  font-size: 0.9rem;

  .material-symbols-outlined {
    font-size: 20px;
    margin-right: 4px;
  }
}
