:root {
  /* Colors
  -------------------------*/
  /* Basic Colors */
  --black: #333;
  --white: #fff;
  --gray: #ccc;
  --gray-light: #ecf0f1;
  --gray-medium: #ddd;
  --gray-deep: #808080;
  --gray-dark: #343a40;
  --navy: #2c3e50;
  --red: #ff0000;
  --blue: #0000ff;
  --blue-light: #0080ff;
  --blue-sky: #86b4ff;
  --green: #2ecc71;

  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --link: #007bff;

  /* Links */
  --link-color: var(--black);
  --link-bg-color: var(--gray-medium);
  --link-hover-color: var(--blue);

  /* Layouts */
  --footer-color: var(--navy);
  --header-color: var(--navy);
  --main-color: var(--gray-light);

  /* Buttons */
  --create-color: var(--green);
  --store-color: var(--green);
  --edit-color: var(--blue-light);
  --update-color: var(--blue-light);
  --delete-color: #e74c3c;
  --search-color: var(--blue-light);
  --submit-color: var(--gray-deep);
  --info-color: var(--gray-deep);
  --index-color: var(--gray-deep);
  --back-color: var(--gray);
  --cancel-color: var(--gray);

  /* Alerts */
  --deleted-bg-color: #f8d7da;
  --deleted-txt-color: #721c24;
  --error-bg-color: #f8d7da;
  --error-txt-color: #721c24;
  --error-txt-color: #d8000c;
  --stored-bg-color: #a2f2d2;
  --stored-txt-color: #087830;
  --updated-bg-color: #a1d6f5;
  --updated-txt-color: #084d79;
  --warning-bg-color: #f9e79f;
  --warning-txt-color: #7a650c;


  /* Padding
  -------------------------*/
  --pc-page-padding-x: 24px;
  --sp-page-padding-x: 4%;

  /* z-index
  -------------------------*/
  --z-index-mask: 900;
  --z-index-modal: 1000;
}
