@use '../global' as *;

.table-block {
  border-radius: 4px;

  &.scrollable-table {
    overflow-x: auto;
    overflow-y: scroll;
    max-height: 90vh;
  }
}

.table {
  --table-header-bg-color: #ddd;
  --table-header-border-color: #ddd;
  --table-row-border-color: #ddd;

  background-color: var(--white);
  border-collapse: collapse;
  text-align: left;
  width: 100%;

  &.fixed-table {
    table-layout: fixed;
  }
}

.table-header {
  background-color: var(--table-header-bg-color);
  position: sticky;
  top: 0;
}

.th-cell {
  border-bottom: 2px solid var(--table-header-border-color);
  border-right: 1px solid var(--gray-light);
  font-weight: bold;
  padding: 8px 16px;
  overflow-wrap: break-word;
}

.table-row {
  &:not(:last-child) {
    border-bottom: 1px solid var(--table-row-border-color);
  }
}

.td-cell {
  border-right: 1px solid var(--gray-light);
  padding: 8px 16px;
  overflow-wrap: break-word;
}

/* Round the corners of the table
-------------------------*/
.table {
  border-radius: 4px;
  &-header {
    .table-row {
      .th-cell {
        &:first-child {
          border-top-left-radius: 4px;
        }

        &:last-child {
          border-top-right-radius: 4px;
        }
      }
    }
  }

  &-body {
    .table-row {
      &:last-child {
        .td-cell {
          &:first-child {
            border-bottom-left-radius: 4px;
          }

          &:last-child {
            border-bottom-right-radius: 4px;
          }
        }
      }
    }
  }
}

/* Spot styles
-------------------------*/
.th-cell,
.td-cell {

  &.ellipsis {
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.hide-on-mobile {
    display: none;

    @include pc-screen() {
      display: block;
    }
  }
}
