@use '../global' as *;

.table-block {
  border-radius: 4px;

  &.scrollable-table {
    overflow-x: auto;
    overflow-y: scroll;
    max-height: 90vh;
  }
}

.table {
  --table-header-bg-color: #ddd;
  --table-header-border-color: #ddd;
  --table-row-border-color: #ddd;

  background-color: var(--white);
  border-collapse: collapse;
  text-align: left;

  width: 100%;

  &.fixed-table {
    table-layout: fixed;
  }
}

.table-header {
  background-color: var(--table-header-bg-color);
  position: sticky;
  top: 0;

  .th-cell {
    border-bottom: 2px solid var(--table-header-border-color);
    font-weight: bold;
    padding: 8px 16px;
    overflow-wrap: break-word;
  }
}

.table-body {

  .table-row {
    &:not(:last-child) {
      border-bottom: 1px solid var(--table-row-border-color);
    }

    .td-cell {
      padding: 16px;
      overflow-wrap: break-word;
    }
  }
}

/* Round the corners of the table
-------------------------*/
.table {
  border-radius: 4px;
  &-header {
    .table-row {
      .th-cell {
        &:first-child {
          border-top-left-radius: 4px;
        }

        &:last-child {
          border-top-right-radius: 4px;
        }
      }
    }
  }

  &-body {
    .table-row {
      &:last-child {
        .td-cell {
          &:first-child {
            border-bottom-left-radius: 4px;
          }

          &:last-child {
            border-bottom-right-radius: 4px;
          }
        }
      }
    }
  }
}

/* Spot styles
-------------------------*/
.th-cell,
.td-cell {

  &.ellipsis {
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.hide-on-mobile {
    display: none;

    @include pc-screen() {
      display: block;
    }
  }

  &.max8 {max-width: 8px;}
  &.max16 {max-width: 16px;}
  &.max24 {max-width: 24px;}
  &.max32 {max-width: 32px;}
  &.max40 {max-width: 40px;}
  &.max48 {max-width: 48px;}
}
