@use '../global' as *;

.layout-footer {
  background-color: var(--footer-color);
  color: var(--white);

  .footer-container {
    display: flex;
    padding: 16px var(--sp-page-padding-x);

    @include pc-screen() {
      padding: 16px var(--pc-page-padding-x);
    }
  }
}
