@use '../global' as *;

$mobile-padding: 24px 4%;
$pc-padding: 24px;

.page-home {
  background-color: var(--main-color);
  color: var(--black);

  .home-container {
    margin: 0 auto;
    padding: $mobile-padding;

    @include pc-screen() {
      max-width: 960px;
      padding: $pc-padding;
    }

  }
}
