@use '../global' as *;

$mobile-padding: 24px 4%;
$pc-padding: 24px;

.page-main {
  background-color: var(--main-color);
  color: var(--black);

  .main-container {
    margin: 0 auto;
    padding: $mobile-padding;

    @include pc-screen() {
      padding: $pc-padding;
    }
  }
}
