@use '../global' as *;

$mobile-padding: 16px 4%;
$pc-padding: 8px 24px;

.page-main {
  background-color: var(--main-color);
  color: var(--black);

  .main-container {
    background-color: var(--white);
    margin: 0 auto;
    padding: $mobile-padding;

    @include pc-screen() {
      max-width: 960px;
      padding: $pc-padding;
    }
  }
}
